<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Meal Plan Page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style type="text/css">
    .footer {
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #860606;
   color: white;
   text-align: center;
}
  </style>
</head>
<body>
<section id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=
            "background-color: #911c1c!important">
        <a class="navbar-brand" href="home" style="color:white;">Daily Meal Planner <span class="sr-only">(current)</span></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</section>
<section id="personalDetailContainer">
    <div class="container">
        <div class="row m-4">
            <div class="col-3 text-center m-3">
                <span class="h3">Edit Details</span>
            </div>
            <div class="col-7 text-center m-3">
                <form th:action="@{/updateDetails}" method="POST"
                      th:object="${form}">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">
                             Name:</label>
                        <div class="col-9">
                            <input type="text" name="name" id="name"
                                   class="form-control" th:value="${detail.name}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="age" class="col-3 col-form-label">
                             Age:</label>
                        <div class="col-9">
                            <input type="text" name="age" id="age"
                                   class="form-control" th:value="${detail.age}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="number" class="col-3 col-form-label">
                            Number:</label>
                        <div class="col-9">
                            <input type="text" name="number" id="number"
                                   class="form-control" th:value="${detail.number}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-3 col-form-label">
                            Email:</label>
                        <div class="col-9">
                            <input type="text" name="email" id="email"
                                   class="form-control" th:value="${detail.email}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="height" class="col-3 col-form-label">
                            Height:</label>
                        <div class="col-9">
                            <input type="text" name="height" id="height"
                                   class="form-control" th:value="${detail.height}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="weight" class="col-3 col-form-label">
                            Weight:</label>
                        <div class="col-9">
                            <input type="text" name="weight" id="weight"
                                   class="form-control" th:value="${detail.weight}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="diet" class="col-3 col-form-label">
                            Diet:</label>
                        <div class="col-9">
                            <input type="text" name="diet" id="diet"
                                   class="form-control" th:value="${detail.diet}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="recipe" class="col-3 col-form-label">
                            Recipe:</label>
                        <div class="col-9">
                            <input type="text" name="recipe" id="recipe"
                                   class="form-control" th:value="${detail.recipe}"/>
                        </div>
                    </div>


                    <input type="hidden" id="id" name="id" th:value="${detail.id}"/>
                    <button type="submit" class="btn btn-primary">
                        Update Details</button>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="footer">
    <p>Footer</p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>