<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Daily Meal Plan Page</title>
<style type="text/css">
    .footer {
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #860606;
   color: white;
   text-align: center;
   height: 25px;
    margin-top: 200px;
}
</style>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<section id="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style=
				"background-color: #911c1c!important">
			<a class="navbar-brand" href="home" style="color:white;">Daily Meal Planner <span class="sr-only">(current)</span></a>


			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</section>
	<section id="planningcontainer">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<table class="table">
					<thead th:if="${not #lists.isEmpty(meals)}">
						<tr>
							<th scope="col">Title</th>
							<th scope="col">Time to Prepare</th>
							<th scope="col">Health Score</th>
							<th scope="col">Steps</th>
							<th scope="col">Image</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="meal : ${meals}">
							<td th:text=${meal.name}></td>
							<td th:text=${meal.readyInMinutes}></td>
							<td th:text=${meal.healthScore}></td>
							<td th:text=${meal.instructions}></td>
							<td>
								<img th:src="${meal.image}"  class="center" height=300% width=300% /><br>

							</td>
						</tr>
					</tbody>
				</table>
				<div class="d-flex justify-content-center" th:if="${#lists.isEmpty(meals)}">
					<a class="btn btn-success btn-lg text-white" data-toggle="modal"
						data-target="#viewModal">Generate Meal Plan</a>
				</div>
				</br>
				</br>
				</br>
				</br>
				<div class="d-flex justify-content-center" th:if="${#lists.isEmpty(meals)}">
					<img th:src="@{/images/mealplan.jpg}"  class="center" height=80% width=80% /><br>

				</div></br>
				<div class="d-flex justify-content-center" th:if="${not #lists.isEmpty(meals)}">
				<button  onclick="window.print()" class="btn btn-success btn-lg text-white">Print Recipe</button>
				</div>
				</div>

			<div class="col-md-2"></div>
		</div>

		<!-- View Modal -->
		<div class="modal fade" id="viewModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Daily Meal
							Plan Requirements</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/generatePlan}" method="POST"
							th:object="${form}">
							<div class="form-group">
								<label for="exampleInputEmail1">Calorie Requirements</label> <input
									type="text" class="form-control" name="calories"
									placeholder="Enter Required Calories">
							</div>
							<div class="form-group">
								<label for="exampleFormControlSelect1">Suggested Diet</label><select
									class="form-control" name="suggestedDiet">
									<option></option>
									<option>ketogenic</option>
									<option>gluten-free</option>
									<option>paleo</option>
									<option>non-vegetarian</option>
									<option>vegetarian</option>
									<option>vegan</option>
								</select>
							</div>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Generate</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="footer">
		<p>Created with spoonacular API </p>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>